:root{
--red-primary-color:#E30613 ;
--white-secundary-color: #FFFFFF;
--black-tertiary-color:#000000 ;
--gray-quartenary-color: #878787;
--gray-line-color: #6C6C6C ;
--white-background-color: #E1E1E1;
--black-title-color:#3D3D3D;
--black-text-color:#2B2B2B;
}