@import url("/src/styles/global.css");


.page-top{
display: flex;
padding: 10px 16px;
flex-direction: column;
align-items: center;
gap: 8px;
align-self: stretch;
}

img{
width: 28px;
height: 28px;
flex-shrink: 0;

}

h3{

color: var(--Black-Black, #000);

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 125%;
}

.page-top > p{

    color: var(--Black-300, #2B2B2B);

font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 125%; 
}


.questions{
display: flex;
padding: 10px 16px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;

background: var(--White-100, #E1E1E1);
}

.title{
display: flex;
width: 110px;
align-items: center;
gap: 10px;
}

.title > img{
width: 24px;
height: 24px;
flex-shrink: 0;

}

.title > p{
color: var(--Black-200, #3D3D3D);
text-align: center;


font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
}

.question-box{
display: flex;
padding: 8px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;

border-radius: 10px;
background: var(--Branco---Secundary, #FFF);

}

button{
display: flex;
padding: 4px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;

border-radius: 10px;
background: var(--Pantone-Pantone, #E30613);

}

body.dark-mode .page-top{
background-color: var(--Black-200, #3D3D3D);
color: #E30613;

}

body.dark-mode .page-top-title{
    color: white;
}

body.dark-mode .page-top-text{
color: rgb(237, 237, 237);
}

body.dark-mode .questions{  
background-color: #000;

}

body.dark-mode .title > p{
color: #E1E1E1;
}

body.dark-mode .question-box{
    background-color: var(--Black-200, #3D3D3D);
}
